In [15]:
import pandas as pd
from pymongo import MongoClient

from config import Config as c

db_params = [
        f'mongodb+srv://{c.atlas["user"]}:{c.atlas["pwd"]}@cluster0.vujwe.mongodb.net/myFirstDatabase?retryWrites=true&w=majority',
        'test',
        'transients']

uri, database, collection = db_params

client = MongoClient(uri)
db = client[database]
collection = db[collection]
df = pd.DataFrame(iter(collection.find()))
print(df)

                _id label  __v  nbands  npoints  \
0      H-030-000000     Y    0    32.0     36.0
1      H-030-000001     N    0    32.0    131.0
2      H-030-000002     U    0    32.0     29.0
3      H-030-000003     N    0    32.0    101.0
4      H-030-000004     N    0    32.0     33.0
...             ...   ...  ...     ...      ...
24674  L-344-003699     N    0    32.0     46.0
24675  L-344-003700     N    0    32.0     26.0
24676  L-344-003701     N    0    32.0     59.0
24677  L-344-003702     N    0    32.0     50.0
24678  L-344-003703     N    0    32.0     31.0

                                            grayscale255
0      [74, 40, 71, 91, 78, 53, 80, 63, 67, 79, 74, 6...
1      [110, 72, 92, 75, 111, 130, 130, 82, 114, 108,...
2      [34, 30, 39, 13, 40, 38, 29, 32, 38, 35, 29, 4...
3      [125, 83, 162, 152, 129, 139, 156, 142, 111, 1...
4      [145, 114, 151, 96, 91, 102, 125, 131, 130, 16...
...                                                  ...
24674  [149, 138, 114, 167, 146, 116, 118, 115, 129, ...
24675  [119, 129, 124, 167, 76, 82, 150, 151, 98, 90,...
24676  [102, 135, 106, 156, 162, 123, 150, 117, 169, ...
24677  [125, 105, 185, 150, 156, 118, 74, 81, 125, 19...
24678  [125, 109, 151, 138, 127, 205, 157, 172, 125, ...

[24679 rows x 6 columns]

In [16]:
df.pop('_id')
df.pop('__v')
# df.pop('nbands')
df.info(verbose=True)
df.to_parquet('astra21.parquet.snappy', compression='snappy')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24679 entries, 0 to 24678
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   label         24679 non-null  object
 1   npoints       24674 non-null  float64
 2   grayscale255  24679 non-null  object
dtypes: float64(1), object(2)
memory usage: 578.5+ KB

In [17]:
pd.read_parquet('astra21.parquet.snappy')

      label  npoints                                       grayscale255
0         Y     36.0  [74.0, 40.0, 71.0, 91.0, 78.0, 53.0, 80.0, 63....
1         N    131.0  [110.0, 72.0, 92.0, 75.0, 111.0, 130.0, 130.0,...
2         U     29.0  [34.0, 30.0, 39.0, 13.0, 40.0, 38.0, 29.0, 32....
3         N    101.0  [125.0, 83.0, 162.0, 152.0, 129.0, 139.0, 156....
4         N     33.0  [145.0, 114.0, 151.0, 96.0, 91.0, 102.0, 125.0...
...     ...      ...                                                ...
24674     N     46.0  [149.0, 138.0, 114.0, 167.0, 146.0, 116.0, 118...
24675     N     26.0  [119.0, 129.0, 124.0, 167.0, 76.0, 82.0, 150.0...
24676     N     59.0  [102.0, 135.0, 106.0, 156.0, 162.0, 123.0, 150...
24677     N     50.0  [125.0, 105.0, 185.0, 150.0, 156.0, 118.0, 74....
24678     N     31.0  [125.0, 109.0, 151.0, 138.0, 127.0, 205.0, 157...

[24679 rows x 3 columns]